{% extends "partials/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block content %}

<div class="cover">
    <div class="container ">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body p-3">
                        <h4>Password Reset Confirm</h4>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input class="btn btn-warning btn-block" type="submit" value="Reset Password Confrm">
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}